@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
    font-family: Outfit;
}

select, input, textarea{
    border: 1px solid #c2c2c2;
    outline-color: #C586A5;
    border-radius: 4px;
}

.active{
    background-color: aqua;
    border-color: rgb(86, 86, 14);
}