@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

@import "tailwindcss";

a.active hr{
    display: block;
}

*{
    font-family: serif;
}
.quintessential-regular {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}


